<%# Landing page %>

<div class="row">
  <% @title = "Inspire | Home" %>

  <%# Flash message for errors %>
  <% if flash[:alert] != nil %>
    <div class="justify-content-center alert alert-dark" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>

<%# Welcome Message %>
<section class="jumbotron text-center">
  <div class="col">
    <h1>Welcome to Inspire!</h1>
    <h2>Where will you find your next inspiration?</h2>
  </div>
</section>

<%# Projects Index %>
<section class="row justify-content-center">
  <% @projects.each do |project| %>
    <div class="col-3 project-index">
      <h2><%= link_to project.title, project_path(project) %></h2>
      <p>Created by: <%= project.user.name %></p>
    </div>
  <% end %>
</section>
